<%- include('../partials/header') %>

<div id="show-container">
        <div>
                <!-- check if user first-otherwise will return an error -->
                <% if(user) { %>
                <!-- if the party creator id matches up with the current userid then a delete button will appear -->
                <% if (user.googleId === party.creatorId) { %>
                        <form action="/parties/<%= party._id %>?_method=DELETE" method="POST" class="page-show-form">
                                <button type="submit"class="btn btn-info">delete event</button>
                        </form> 
                        <form action="/parties/<%= party._id %>/update" class="page-show-form">
                                <button type="submit"class="btn btn-info">edit event</button>
                        </form>
                        <% } %>

                <!-- if not the party creator then the option to attend the event will show -->
                <% if (user.googleId !== party.creatorId)  { %>
                        <% let eventGoing = 0 %>
                        <!-- if user is already attending -->
                        <% party.attendees.forEach((a,idx) => { %>
                                <% if(a.googleId===user.googleId) {%>
                            <%eventGoing=1%>            
                        <% }}) %> 
                        
                        <% if(eventGoing== 1) { %>
                                <a href="/parties/<%= party._id %>/attendees/<%= user.googleId %>/cancelAttend" class="btn btn-info">stop attending</a>
                                <%} else {%>
                                        <a href="/parties/<%= party._id%>/attend" class="btn btn-info">attend event</a>
                                <% } %>
                <% } %>
                <% }; %>

                <!-- date of event in 'month dd/yyyy' format -->
                <h1>
                        <%= party.date.toLocaleString('en',{month:'long',year:'numeric', day:'numeric'}) %>
                </h1> 
        </div>
        <!-- name of event at hh:mm AM/PM -->
        <h2>
            <%= party.name %>
            <% if(user) { %>
            @
            <%= party.date.toLocaleString('en',{ hour:'numeric', minute: '2-digit'}) %>
            <% } %>
        </h2>
        <% if(user) { %>
                <h3>
                Hosted By: <%= party.creator.name %>
                </h3>
        <% } %>

    <h4>
            <%= party.type %> 
            Party 
            <% if(user) { %>
            at
            <% if (party.address.includes("http")) { %>
                <a href="<%= party.address %>" target="_blank">
                <%= party.address %>
                </a>
            <% }  else { %>
                <a href="https://www.google.com/maps/search/<%= party.address.split(' ').join('+') %>" target="_blank">
                        <%= party.address %>
                </a>                           
    <% } }%>
        </h4>

    <% if (user) {%>
        <h4><b>Attending</b></h4>
        <% party.attendees.forEach((a,idx) => { %>
                <p><%= a.name %></p>
        <% });} %>

        <!-- display total number of comments -->
        <section id="show-page-comments">
        <% if(party.comments.length) { %>  
                <p>
                <!-- if comment count is 1 then display "comment" -->
                        <%=party.comments.length%>
                                <% if(party.comments.length===1) { %>                  
                         Comment
                         <!-- if comment count is more than 1 then display "comments" -->
                        <% } if(party.comments.length>1) { %>
                                 Comments
                                <% } %>
                </p>      
        <% } %>

        <!-- comments display -->
        <% if(party.comments.length) { %>
                <% party.comments.forEach((c,idx) => { %>
                        <p class="show-comment-content">
                                <%= c.content %>
                        </p>
                        <p class="show-comment-author">
                                posted by <%= c.author%>
                        </p>
                <% }); %>
        <% } %>

        <!-- comments input for users -->
        <% if(user) { %>
        <form action="/parties/<%=party._id%>/new-comment" method="POST">
                <input type="text" name="comment" id="" placeholder="comment here">
                <button id="comment-post-btn" class=" btn btn-info" type="submit">post</button>
        </form>
        <% } %>

        <!-- comments input for guests -->
        <% if(!user) { %>
        <form action="/parties/<%=party._id%>/new-anoncomment" method="POST">
                <input type="text" name="comment" id="" placeholder="comment here">
                <button id="comment-post-btn" class=" btn btn-info" type="submit">post</button>
        </form>
        <% } %>
        </section>
</div>

<%- include('../partials/footer') %>


