<%- include('../partials/header') %>

<div id="show-container">
        <div>
                <!-- check if user first-otherwise will return an error -->
                <% if(user) { %>
                <!-- if the party creator id matches up with the current userid then a delete button will appear -->
                <% if (user.googleId === party.creatorId) { %>
                        <form action="/parties/<%= party._id %>?_method=DELETE" method="POST" class="page-show-form">
                                <button type="submit"class="btn btn-info">delete event</button>
                        </form>
                        <form action="" class="page-show-form">
                                <a href="" class="btn btn-info">edit event</a>
                        </form>
                        <% } %>
                <!-- if not the party creator then the option to attend the event will show -->
                <% if (user.googleId !== party.creatorId)  { %>
                        <a href="" class="btn btn-info">attend event</a>
                        <% }} %>
                <!-- date of event in 'month dd/yyyy' format -->
                <h1>
                        <%= party.date.toLocaleString('en',{month:'long',year:'numeric', day:'numeric'}) %>
                </h1> 
        </div>

    <h2>
            <%= party.name %>
            <% if(user) { %>
            @
            <%= party.date.toLocaleString('en',{ hour:'numeric', minute: '2-digit'}) %>
            <% } %>
    </h2>
            <% if(user) { %>
                <h3>
                Hosted By: <%= party.creator.name %>
    </h3>
    <% } %>

    <h4>
            <%= party.type %> 
            Party 
            <% if(user) { %>
            at
            <% if (party.address.includes("http")) { %>
                <a href="<%= party.address %>" target="_blank">
                <%= party.address %>
                </a>
            <% }  else { %>
                <a href="https://www.google.com/maps/search/<%= party.address.split(' ').join('+') %>" target="_blank">
                        <%= party.address %>
                </a>
                             
    <% } }%>
                </h4>
    <% if (user) {%>
        <h4><b>Attending</b></h4>
        <% party.attendees.forEach((a,idx) => { %>
                <p><%= a.name %></p>
        <% });} %>
<section id="show-page-comments">
        <% if(party.comments.length) { %>  
                <h4 id="show-page-comments-main">Comments</h4>
                <p>
                                <% if(party.comments.length===1) { %>                  
                        <%=party.comments.length%> Comment
                        <% } if(party.comments.length>1) { %>
                                <%=party.comments.length%> Comments
                                <% } %>
                </p>      
<% } %>
<% if(party.comments.length) { %>
                <% party.comments.forEach((c,idx) => { %>
                        <p class="show-comment-content">
                                <%= c.content %>
                        </p>
                        <p class="show-comment-author">
                                posted by <%= c.author%>
                        </p>
                <% }); %>
        <% } %>
        <% if(user) { %>
        <form action="/parties/<%=party._id%>/new-comment" method="POST">
                <input type="text" name="comment" id="" placeholder="comment here">
                <button id="comment-post-btn" class=" btn btn-info" type="submit">post</button>
                </form>
                <% } %>
        </section>
</div>

<%- include('../partials/footer') %>


